.now-playing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.song-image{
    width: 225px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-top: 20px;
    border-radius: 16px;
}

.now-playing-page p {
    align-self: flex-start;
    text-align: left;
    margin-left: 30px;
}

.track-title{
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 19px;
    color: #1E1F2E;
    margin-bottom: 0;
}

.track-artists{
    font-family: "Inter", sans-serif;
    font-size: 11px;
    color: #1E1F2E;
    text-align: left;
    margin-top: 3px;
}

.action-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}