.waiting-page {
    text-align: center;
}

.waiting-page p {
    font-family: "Inter", sans-serif;
    color: #9A9DB2;
    font-size: 11px;
}

.waiting-page-title {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    padding-top: 70px;
}

.spotify-button{
    width: 85%;
}

.waiting-footer{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.background-music {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.background-music p{
    color: #734242;
    font-weight: bold;
    font-size: 8px;
}

.waiting-animation {
    height: 90px;
    width: auto;
}